<template name="backArrowIcon">
  <i class="icon">
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M2.02279 8.47025L7.72285 13.2859L7.10188 14L0 8L7.10188 2L7.72285 2.71408L2.02279 7.52975H16V8.47025H2.02279Z"
        fill="black" />
    </svg>
  </i>
</template>
