<template name="binIcon">
  <i class="icon">
    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M6.50427 1.11628C5.99052 1.11628 5.57404 1.53276 5.57404 2.04651V2.9782H10.4112V2.04651C10.4112 1.53276 9.99477 1.11628 9.48101 1.11628H6.50427ZM11.5275 2.9782V2.04651C11.5275 0.916254 10.6113 0 9.48101 0H6.50427C5.37401 0 4.45776 0.916254 4.45776 2.04651V2.9782H1.29642C0.988169 2.9782 0.738281 3.22809 0.738281 3.53634C0.738281 3.84459 0.988169 4.09448 1.29642 4.09448H2.22658L2.2252 13.9534C2.2252 15.0837 3.14145 16 4.27171 16H11.7136C12.8438 16 13.7601 15.0837 13.7601 13.9535V4.09448H14.6918C15 4.09448 15.2499 3.84459 15.2499 3.53634C15.2499 3.22809 15 2.9782 14.6918 2.9782H13.2425C13.2291 2.97723 13.2156 2.97674 13.2019 2.97674C13.1883 2.97674 13.1748 2.97723 13.1614 2.9782H11.5275ZM12.6438 4.09448H3.34285L3.34148 13.9535C3.34148 13.9535 3.34148 13.9535 3.34148 13.9535C3.34152 14.4672 3.75798 14.8837 4.27171 14.8837H11.7136C12.2273 14.8837 12.6438 14.4672 12.6438 13.9535V4.09448ZM6.50718 6.69767C6.81543 6.69767 7.06532 6.94756 7.06532 7.25581V11.7209C7.06532 12.0292 6.81543 12.2791 6.50718 12.2791C6.19892 12.2791 5.94904 12.0292 5.94904 11.7209V7.25581C5.94904 6.94756 6.19892 6.69767 6.50718 6.69767ZM9.48101 6.69767C9.78927 6.69767 10.0392 6.94756 10.0392 7.25581V11.7209C10.0392 12.0292 9.78927 12.2791 9.48101 12.2791C9.17276 12.2791 8.92287 12.0292 8.92287 11.7209V7.25581C8.92287 6.94756 9.17276 6.69767 9.48101 6.69767Z" />
    </svg>
  </i>
</template>
