<template name="edit">
  <i class="icon">
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M9.84191 0.717936C10.7992 -0.239312 12.3248 -0.239312 13.2821 0.717936C14.2393 1.67518 14.2393 3.20084 13.2821 4.15809L12.2324 5.20777C12.2309 5.20925 12.2295 5.21072 12.228 5.21218C12.2266 5.21364 12.2251 5.21509 12.2236 5.21652L4.61488 12.8253C4.56391 12.8762 4.50045 12.9129 4.43085 12.9317L0.518907 13.9858C0.376664 14.0241 0.224781 13.9836 0.120612 13.8794C0.0164438 13.7752 -0.0241384 13.6233 0.0141906 13.4811L1.06831 9.56915C1.08706 9.49955 1.12376 9.43609 1.17473 9.38512L9.84191 0.717936ZM11.9368 4.33866L12.6997 3.57576C13.3354 2.94012 13.3354 1.9359 12.6997 1.30026C12.0641 0.664619 11.0599 0.664619 10.4242 1.30026L9.66134 2.06316L11.9368 4.33866ZM9.07902 2.64548L11.3545 4.92098L4.32372 11.9518L2.04821 9.67628L9.07902 2.64548ZM1.67822 10.4709L0.995523 13.0045L3.52907 12.3218L1.67822 10.4709Z"
        fill="#545454" />
    </svg>
  </i>
</template>
