<template name="formInput">
  <div class="field">
    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
    <input type="{{inputType}}" name="{{name}}" value="{{value}}" placeholder={{placeholder}} class="js-input"
      {{inputAttributes}}>
  </div>
</template>
