// TODO: update styling and split into smaller stylesheets

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
// Proxima Nova is a pay font

body {
  padding: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  margin: 0;
}

.list-title {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 32px;
  line-height: 39px;
}

main {
  max-width: 720px;
}

.list {
  padding: 10px 0;
  .item {
    padding: 8px 0;
    display: flex;
    line-height: 22px;

    .position {
      height: 20px;
      width: 20px;
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: default;
      user-select: none;
    }

    .title {
      margin-left: 12px;
    }

    .drag-handle {
      cursor: pointer;
    }

    .field {
      display: inline-block;
      padding: 0 8px;
    }

    form button {
      display: inline-block;
    }
  }
}

.list-controls {
  margin-top: 10px;
  text-align: right;
}

i.icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  svg {
    fill: #000;
  }
}
