<template name="mainPage">
  <main>
    <div class="title-container">
      <h1 class="list-title">{{> backArrowIcon}} Stages and Archives {{> edit}}</h1>
    </div>
    <div class="list-container">
      <h2>Stages</h2>
      {{> stageList list = listState}}
    </div>
  </main>
</template>
